<h1>Editar boleta</h1>

<%= render "form", ticket: @ticket %>

<br>

<div>
  <%= link_to "Imprimir boleta", ticket_path(@ticket,format: :pdf) %> |
  <%= link_to "Back to tickets", root_path %>
</div>
